.podcast-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home {
    display: flex;
    flex-direction: column;
}

.podcast {
    width: calc((100% - 15rem)/4);
    margin: 5rem 5rem 5rem 0;
}

.podcast:nth-child(4n) {
    margin-right: 0;
}

.filter-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.badge {
    width: 3vw;
    height: 1.5vw;
    background-color: #3366BB;
    margin-right: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20%;
    font-size: 1.2rem;
}

.filter-input {
    width: 20vw;
    padding: 0.5rem;
    font-size: 1rem;
}